body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background: radial-gradient(circle at bottom left, #2c003e, #010a60);
  color: #fff;
}

html {
  height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root, .App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}