body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background: radial-gradient(circle at bottom left, #2c003e, #010a60);
  color: #fff;
}

html {
  height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root, .App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-cmFMMs-color-primary {
  background-color: black;
  background: linear-gradient(90deg, #af57ce 0%, #3f67b7 100%);
  color: #fff;
  border-color:#7a5b8e;
}

.supabase-auth-ui_ui-input.c-dEnagJ.c-dEnagJ-bBzSYw-type-password, .supabase-auth-ui_ui-input.c-dEnagJ.c-dEnagJ-bBzSYw-type-default {
  color: #fff;
}